<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Stage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Pret immobilier</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Calculez votre pret immobilier </h1>
        <h2>Calculez le montant des mensualités de votre prêt immobilier correspondant à l'emprunt que vous souhaitez effectuer.</h2>
        <button>Commencez maintenant</button>
    </section>
    <section>
        <div>
            <div class="trait"></div>
            <h3>Calculez votre pret immobilier </h3>
            <div class="trait"></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
        <div class="trait"></div>
        <div class="result">
            <h3>Résultat de votre simulation</h3>
            <div class="simulation"></div>
        </div>
        <div class="recap">
            <h3>Récapitulatif</h3>
        </div>
    </section>
</body>
</html>